@using Ecommerce.Repositories;
@model ProductCreate
@{

    CategoryRepository categoryRepository;
    categoryRepository = new CategoryRepository();
    var categories = categoryRepository.GetAll();

}

<h4>Category Create</h4>


<form method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name"  placeholder="Enter Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Name">Description</label>
        <input type="text" class="form-control" asp-for="Description"  placeholder="Enter Description">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Name">Price</label>
        <input type="text" class="form-control" asp-for="Price"  placeholder="Enter Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Select Category</label>
        <select class="form-select" asp-for="CategoryId" aria-label="Disabled select example">
            @foreach(var c in categories)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>